:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  padding: 0;
  /* background: rgb(221, 241, 240); */
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  overflow-x: hidden;
}
.header {
  margin-left: 20px;
}
/* .firstSection {
  display: flex;
  justify-content: space-between;
} */
.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: none;
  background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--White);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: linear-gradient(to right, var(--Bright-Cyan), var(--Lime-Green));
  color: black;
}
.rengeofnumber {
  color: black;
  font-size: 30px;
  margin-right: 20px;
  color: var(--Lime-Green);
}
.guess {
  position: relative;
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, var(--Bright-Cyan), var(--Lime-Green));
  left: 20%;
  margin-bottom: 20px;
}
.box {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 30px;
}
.secondSection {
  display: flex;
  align-items: center;
}
.secondSectionDiv {
  margin-left: 50px;
  color: var(--Lime-Green);
}
.valu {
  /* margin-left: 100px; */
}
.check {
  margin-left: 30px;
  /* display: block; */
}
.nightmode {
  transform: scale(-5%);
}
